<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        {{ posts }}
<br>
<br>
<br>
        {% for post in posts %}
          <div>
            <p>===================================================</p>
              <p>published: {{ post.published_date }}</p>
              <h1><a href="">{{ post.title }}</a></h1>
              <p>{{ post.text|linebreaksbr }}</p>
          {{ post }}
        </div>
        {% endfor %}
    </body>
</html>
